html, body, body>#root {
  min-width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  background-color: black;
}

@font-face {
  font-family: 'Aurebesh';
  font-style: normal;
  font-weight: 400;
  src: 
      local('Aurebesh'),
      url(./fonts/Aurebesh.ttf);
}

@font-face {
  font-family: 'Aurebesh';
  font-style: normal;
  font-weight: 400;
  src:
    local('Aurebesh'),
    url(./fonts/Aurebesh.ttf);
}

@font-face {
  font-family: 'Aurebesh';
  font-style: normal;
  font-weight: 700;
  src:
    local('Aurebesh Bold'),
    url(./fonts/Aurebesh-Bold.ttf);
}

button, button:hover, button:active, button:focus {
  outline: 0;
  border: none;
}

p, h1, h2, h3, h4, h5, span, small, a, button, ul, li {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
}

p.aurebesh {
  font-family: 'Aurebesh';
}

p, h3, h4 {
    color: rgba(255, 255, 255, 0.8);
    padding: 0;
    margin: 0;
}

h4 {
  font-size: 20px;
}

.page {
  width: 100%;
  min-width: 100%;
  min-height: calc(100vh - 100px);
  margin-top: 100px;
}