html, body, body>#root {
  min-width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Aurebesh';
  font-style: normal;
  font-weight: 400;
  src: 
      local('Aurebesh'),
      url(./fonts/Aurebesh.ttf);
}

@font-face {
  font-family: 'Aurebesh';
  font-style: normal;
  font-weight: 400;
  src:
    local('Aurebesh'),
    url(./fonts/Aurebesh.ttf);
}

@font-face {
  font-family: 'Aurebesh';
  font-style: normal;
  font-weight: 700;
  src:
    local('Aurebesh Bold'),
    url(./fonts/Aurebesh-Bold.ttf);
}

button, button:hover, button:active, button:focus {
  outline: 0;
  border: none;
}